{% extends "layout/base.html" %}
{% load staticfiles %}


    {% block title %}CMDB | Userlist{% endblock %}

    <!-- Datatables -->
    {% block css %}
    <link href="{% static 'css/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css' %}" rel="stylesheet">
    {% endblock %}

      {% block container %}
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Users <small>Some examples to get you started</small></h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>

              <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Button Example <small>Users</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <p class="text-muted font-13 m-b-30">
                      The Buttons extension for DataTables provides a common set of options, API methods and styling to display buttons on a page that will interact with a DataTable. The core library provides the based framework upon which plug-ins can built.
                    </p>
                    <table id="datatable-checkbox" class="table table-striped table-bordered bulk_action">
                      <thead>
                        <tr>
						  <th><input type="checkbox" name="selectAll" id="selectAll" onclick="selectAll()"></input></th>
                          <th>类型</th>
                          <th>名称</th>
                          <th>ip</th>
                          <th>区域</th>
                          <th>状态</th>
                          <th>录入方式</th>
                          <th>操作</th>
                        </tr>
                      </thead>
                      <tbody>

                        {% for object in object_list %}
                          {% if object.asset.show_status is 0 %}
                        <tr>
                          <td><input type="checkbox" name="selectbody" value="{{ object.asset.instance_id }}"></td>
                          <td>{{ object.asset.get_asset_type_display }}</td>
                          <td>{{ object.asset.name }} <br>
                              {{ object.asset.instance_id }}</td>
                          <td>{{ object.in_ipaddr }} <br>
                              {{ object.ou_ipaddr }}</td>
                          <td>{{ object.asset.get_region_display }}</td>
                          <td>{{ object.asset.get_status_display }}</td>
                          <td>{{ object.get_created_by_display}}</td>
                          <td><a href="#">确认追加</a> <br>
                              <a href="#">确认删除</a></td>
                        </tr>
                           {% endif %}
                         {% endfor %}
                      <input type="button" value="方法1" id="b1">
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
      {% endblock %}

      {% block js_script %}
          <script type="text/javascript">
            jQuery(document).ready(function(){
                $("#b1").click(function(){
                    $.each($('input:checkbox:checked'),function(){
                        window.alert("你选了："+
                            $('input[name=selectbody]:checked').length+"个，其中有："+$(this).val());
                    });
                });
            });
            function selectAll() {
                if (jQuery("#selectAll").prop("checked")) {
                    jQuery("input[name='selectbody']").prop("checked", true);

                } else {
                    jQuery("input[name='selectbody']").prop("checked", false);
                }
            }




          </script>
      {% endblock %}

    {% block js %}
    <!-- Datatables -->
    <script src="{% static 'css/vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'css/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'css/vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'css/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
    <script src="{% static 'css/vendors/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
    <script src="{% static 'css/vendors/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'css/vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'css/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
    <script src="{% static 'css/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
    <script src="{% static 'css/vendors/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'css/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}"></script>
    <script src="{% static 'css/vendors/datatables.net-scroller/js/dataTables.scroller.min.js' %}"></script>
    <script src="{% static 'css/vendors/jszip/dist/jszip.min.js' %}"></script>
    <script src="{% static 'css/vendors/pdfmake/build/pdfmake.min.js' %}"></script>
    <script src="{% static 'css/vendors/pdfmake/build/vfs_fonts.js' %}"></script>
    {% endblock %}
